%h1 Activity Feed
- @activities.each do |activity|
  .row
  = activity.id
  = activity.trackable_type
  = activity.trackable_id
  = link_to activity.trackable, activity.trackable
  = activity.key
  = activity.parameters
  = activity.owner
