.container
  %h1 Welcome to Ardun
  %p A place the performing arts students to find and connect with teachers
  = link_to "Privacy", privacy_path

  = link_to courses_path, class: 'btn' do
    .fa.fa-book
    Arts
