- if current_user
  = current_user.email
  = link_to 'Settings', edit_user_registration_path
  = link_to 'Sign Out', destroy_user_session_path, method: :delete
- else
  .container
    = link_to 'Join Now', new_user_registration_path
    = link_to 'Login', new_user_session_path